<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profilansicht</title>
    </head>
    <body>
        <table>
            <tr>
                <td>Name</td>
                <td th:text="${profil.name}"></td>
            </tr>
            <tr>
                <td>Geb.</td>
                <td th:text="${profil.geburtsdatum}"></td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td th:text="${profil.adresse}"></td>
            </tr>
            <tr>
                <td>eMail</td>
                <td th:text="${profil.email}"></td>
            </tr>
            <tr>
                <td>Lieblingsfarbe</td>
                <td th:text="${profil.lieblingsfarbe}"></td>
            </tr>
        </table>
        <h1>Interessen</h1>
    </body>
</html>