<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Profilbearbeitung</title>
        <link rel="icon" type="image/x-icon" href="https://www.hs-rm.de/typo3conf/ext/udg_package/Resources/Public/Images/Favicons/favicon.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Ihre Daten</h1>
        <p>Name</p><br>
        <input type="text"></input>
        <p>Geb.</p><br>
        <input type="datetime-local"></input>
        <p>Adresse</p><br>
        <input type="text"></input>
        <p>eMail</p><br>
        <input type="text"></input>
        <p>Lieblingsfarbe</p><br>
        <input type="color">
        <p>Interessen (durch Komma getrennt)</p><br>
        <input type="text"></input>
    </body>
</html>