<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Profilbearbeitung</title>
        <link rel="icon" type="image/x-icon" href="https://www.hs-rm.de/typo3conf/ext/udg_package/Resources/Public/Images/Favicons/favicon.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:method="POST" th:object="${profil}">
            <h1>Ihre Daten</h1>
            <p>Name</p>
            <input type="text" th:field="*{name}"></input>
            <p>Geb.</p>
            <input type="date" th:field="*{geburtsdatum}"></input>
            <p>Adresse</p>
            <input type="text" th:field="*{adresse}"></input>
            <p>eMail</p>
            <input type="text" th:field="*{email}"></input>
            <p>Lieblingsfarbe</p>
            <input type="color" th:field="*{lieblingsfarbe}">
            <p>Interessen (durch Komma getrennt)</p>
            <input type="text" th:field="*{interessen}"></input><br>
            <button type="submit">Speichern</button>
        </form>
    </body>
</html>