<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Profilansicht</title>
        <link rel="icon" type="image/x-icon" href="https://www.hs-rm.de/typo3conf/ext/udg_package/Resources/Public/Images/Favicons/favicon.png">
        <link rel="stylesheet" type="test/css" href="profil.css"/>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Ihre Daten</h1>
        <table>
            <tr>
                <td>Name</td>
                <td th:text="${profil.name}"></td>
            </tr>
            <tr>
                <td>Geb.</td>
                <td th:text="${profil.geburtsdatum}"></td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td th:text="${profil.adresse}"></td>
            </tr>
            <tr>
                <td>eMail</td>
                <td th:text="${profil.email}"></td>
            </tr>
            <tr>
                <td>Lieblingsfarbe</td>
                <td th:text="${profil.lieblingsfarbe}"></td>
            </tr>
        </table>
        <h1>Interessen</h1>
        <dl th:each="element : ${profil.getInteressenListe()}">
            <dt th:text="${profil.getInteressenListe.indexOf(element) + 1} + '. ' + ${element}"></dt>
        </dl>
        <a href="/benutzerprofil/bearbeiten">Bearbeiten</a>
    </body>
</html>